<h1>Welcome to the Hongming Wu's ASP.NET Application</h2>
<h2>This is your application's main dashboard. Use the links below to navigate:</p>

<ul>
    <li><a href="/Employee">Manage Employees</a></li>
    <li><a href="/Department">Manage Departments</a></li>
    <li><a href="/SalaryHistory">View Salary History</a></li>
</ul>
